<div *ngIf="topic" class="row">
  <div class="col-md-12">
    <h2 *ngIf="topic._id">Topic Details</h2>
    <h2 *ngIf="!topic._id">New Topic</h2>
  </div>
</div>
<div *ngIf="topic" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="topic-name">Name</label>
      <input class="form-control" name="topic-name" [(ngModel)]="selectedTopic.name" placeholder="Name"/>
    </div>
    <button class="btn btn-primary" *ngIf="!topic._id" (click)="onBtnClick()">Createsss</button>
  </form>
</div>