<!--<div *ngIf="topic" class="row">
  <div class="col-md-12">
    <h2 *ngIf="topic._id">Topic Details</h2>
    <h2 *ngIf="!topic._id">New Topic</h2>
  </div>
</div>-->
<!--
<form class="ui large form segment"> 
    <h3 class="ui header">Voeg een nieuw topic toe</h3>
    <div class="field">
    <label for="naam">Naam Topic:</label> 
    <input name="naam">
    <label for="vraag">Vraag:</label> 
    <input id="vraag" name="vraag" #newtopictitel>
    </div>
    -->
    <!--
    <button (click)="addTopic(newtopictitel)" class="ui positive right floated button">
      toevoegen topic
    </button>-->  
<!--  </form>
-->
<!--
  <div *ngIf="topic" class="row">
      <form class="ui large form segment">
        <h3 class="ui header">Voeg een nieuw topic toe</h3>
        <div class="field">
          <label for="topic-name">Naam topic:</label>
          <input class="form-control" name="topic-name" [(ngModel)]="selectedTopic.name" placeholder="Topic"/>   
          <label for="topic-vraag">Vraag:</label>
          <input class="form-control" name="topic-vraag"placeholder="Vraag"/>              
          <button class="btn btn-primary" *ngIf="!topic._id" (click)="createTopic(topic)">Create</button>
        </div>
      </form>
    </div>
  -->




<!--
<div *ngIf="topic" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="topic-name">Name</label>
      <input class="form-control" name="topic-name" [(ngModel)]="selectedTopic.name" placeholder="Name"/>
    </div>
    <button class="btn btn-primary" *ngIf="!topic._id" (click)="createTopic(topic)">Create</button>
  </form>
</div>-->