<h1>
  Snooker applicatie
</h1>
<form [formGroup]='breaktoevoegen' (ngSubmit)='onSubmit()' >
    <button type='submit' class="ui positive left floated button">Break toevoegen</button>
</form>
<form [formGroup]='uitloggenSnookerApplicatie' (ngSubmit)='uitloggen()'>   
    <button type='submit' class="ui positive right floated button">Uitloggen</button>
</form>
<br>
<br>
<br>


<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
  <data-table id="persons-grid"
      headerTitle="Employees"
      [items]="_breaks"      
      >
      <data-table-column
          [property]="'_user'"
          [header]="'Naam speler'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column>
      <!--<data-table-column
          [property]="'date'"
          [header]="'Date'"
          [sortable]="true">
          <ng-template #dataTableCell let-item="item">
              <span>{{item.date | date:'yyyy-MM-dd'}}</span>
          </ng-template>
      </data-table-column>
      <data-table-column
          property="phoneNumber"
          header="Phone number"
          width="150px">
      </data-table-column>
      <data-table-column
          [property]="'jobTitle'"
          [header]="'Job title'"
          [visible]="false">
      </data-table-column>
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Active</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
              <span style="color: grey">
              <span class="glyphicon glyphicon-ok" *ngIf="item.active"></span>
              <span class="glyphicon glyphicon-remove" *ngIf="!item.active"></span>
              </span>
          </ng-template>
      </data-table-column>-->
  </data-table>
</div>



<!--
<table class="ui unstackable table">
  <thead>
    <tr>
      <th class="header item">Naam Speler</th>
      <th class="header item">Break</th>
      <th class="header item">Datum</th>
      <th class="header item">Waar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let break of _breaks">
      <td class="header item">{{break?._user}}</td>
      <td class="header item">{{break?._aantalpunten}}</td>
      <td class="header item">{{break?._datum}}</td>
      <td class="header item">Training</td>
    </tr>
  </tbody>
</table>-->
<!--
<div class="ui center aligned four column grid">
  <div class="row">
      <div class="column">
        <div class="ui header item">Naam Speler</div>
      </div>
      <div class="column">
        <div class="ui header item">Break</div>
      </div>
      <div class="column">
        <div class="ui header item">Datum</div>
      </div>
      <div class="column">
        <div class="ui header item">Waar</div>
      </div>
  </div>
</div>
<div class="ui center aligned four column grid" *ngFor="let break of _breaks">
    <div class="row">
        <div class="column">
            <div class="header item">{{break?._user}}</div>
        </div>
        <div class="column">
            <div class="header item">{{break?._aantalpunten}}</div>
        </div>
        <div class="column">
            <div class="header item">{{break?._datum}}</div>
        </div>
        <div class="column">
            <div class="header item">Training</div>
        </div>
    </div>
</div>-->
<!--
<table>
  <tr>
    <th>Naam Speler</th>
    <th>Break</th>
    <th>Datum</th>
    <th>Tegen</th>
  </tr>
  <tr *ngFor="let break of _breaks">
    <td>{{break?._user}}</td>
    <td>{{break?._aantalpunten}}</td>
    <td>{{break?._datum}}</td>
    <td>Training</td>
  </tr>
</table>-->

<!--
<div class="ui segment" id='break-component' *ngFor="let break of _breaks">
  <h3 class="ui header" >{{break?._aantalpunten}}</h3>
  <p class="ui header" >{{break?._datum}}</p>
  <p class="ui positive right floated p">aangemaakt door: {{break?._user}}</p>
</div>-->


<!--
  klmm
<form [formGroup]='opmerkingtoevoegen' (ngSubmit)='opmerking($event)' #f="ngForm" >
  <div class="ui segment" id='topic-component{{topic._name}}' *ngFor="let topic of _topics">
    <h3 class="ui header" >{{topic?._name}}</h3>
    <p class="ui header" >{{topic?._vraag}}</p>
    <p class="ui positive right floated p">aangemaakt door: {{topic?._user}}</p>
    <div *ngFor="let opmerking of topic.opmerkingen">
      <p>{{opmerking?.name}}</p>
    </div>
    <div class="field">
    <label for="Opmerking">Opmerking invullen:</label> 
    <input type="text" id="Opmerking{{topic._name}}" formControlName='opmerkingname' [name]="topic._name" ngControl="opmerking" [ngModel]="" #title>
    <button type='submit' id="{{topic._name}}" class="ui positive right floated button">add</button>
    </div> 
  </div>
</form>-->
