<h1>
  Snooker applicatie
</h1>
<form [formGroup]='breaktoevoegen' (ngSubmit)='onSubmit()' >
    <button type='submit' class="ui positive left floated button">Break toevoegen</button>
</form>
<form [formGroup]='uitloggenSnookerApplicatie' (ngSubmit)='uitloggen()'>   
    <button type='submit' class="ui positive right floated button">Uitloggen</button>
</form>
<br>
<br>
<br>

<div class="my-container">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<table id="dt" class="ui unstackable table">
  <thead>
    <tr>
      <th class="header item">Naam Speler</th>
      <th class="header item">Naam Tegenstander</th>
      <th class="header item">Break</th>
      <th class="header item">Datum</th>
      <th class="header item">Wat</th>
      <th class="header item">Wijzigen</th>
      <th class="header item">Verwijderen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let break of _breaks">
      <td class="header item">{{break?._user}}</td>
      <td class="header item">{{break?._tegenstander}}</td>
      <td class="header item">{{break?._aantalpunten}}</td>
      <td class="header item">{{break?._datum}}</td>
      <td class="header item">{{break?._typeGemaakt}}</td>
      <td class="header item"><a (click)="wijzigen(break)">wijzigen</a></td>
      <td class="header item"><a (click)="verwijderen(break)">verwijderen</a></td>
    </tr>
  </tbody>
</table>
</div>
