<h1>
  Forum voor studenten
</h1>
<form [formGroup]='topictoevoegen' (ngSubmit)='onSubmit()' >
    <button type='submit' class="ui positive left floated button">Eigen Topic aanmaken</button>
</form>
<form [formGroup]='uitloggenForum' (ngSubmit)='uitloggen()'>   
    <button type='submit' class="ui positive right floated button">Uitloggen</button>
</form>
<br>
<br>
<br>

<form [formGroup]='opmerkingtoevoegen' (ngSubmit)='opmerking($event)' #f="ngForm" >
  <div class="ui segment" id='topic-component{{topic._name}}' *ngFor="let topic of _topics">
    <h3 class="ui header" >{{topic?._name}}</h3>
    <p class="ui header" >{{topic?._vraag}}</p>
    <p class="ui positive right floated p">aangemaakt door: {{topic?._user}}</p>
    <div *ngFor="let opmerking of topic.opmerkingen">
      <p>{{opmerking?.name}}</p>
    </div>
    <div class="field">
    <label for="Opmerking">Opmerking invullen:</label> 
    <input type="text" id="Opmerking{{topic._name}}" formControlName='opmerkingname' [name]="topic._name" ngControl="opmerking" [ngModel]="" #title>
    <button type='submit' id="{{topic._name}}" class="ui positive right floated button">add</button>
    </div> 
  </div>
</form>

<!--
<form [formGroup]='opmerkingtoevoegen' (ngSubmit)='opmerking()'>
  <div class="ui segment" id='topic-component' *ngFor="let topic of _topics">
    <h3 class="ui header" >{{topic?._name}}</h3>
    <p class="ui header" >{{topic?._vraag}}</p>
    <div class="field">
    <input type="hidden" name="hide" formControlName='topic' value='hln'/>
    <label for="Opmerking">Opmerking invullen:</label> 
    <input type="text" id="Opmerking" formControlName='opmerkingname' value='hln'>
    <button type='submit' class="ui positive right floated button">add</button>
    </div> 
  </div>
</form>-->

