<!--<div class="row">
  <form class="ui large form segment">
    <h3 class="ui header">Registreren</h3>
    <div class="field">
      <label for="user-username">Username:</label>
      <input class="form-control" name="user-username" [(ngModel)]="selectedUser.username" placeholder="Username"/>   
      <label for="user-passwoord">Passwoord:</label>
      <input type="password" class="form-control" name="user-passwoord" [(ngModel)]="selectedUser.password" placeholder="Passwoord"/>     
      <label for="user-passwoordConfirm">Passwoord confirmeren:</label>
      <input type="password" class="form-control" name="user-passwoordConfirm" [(ngModel)]="selectedUser.passwordConfirm" placeholder="Passwoord confirmeren"/>                
      <button class="btn btn-primary" (click)="createUser(user)">Create</button>
    </div>
  </form>hlm
</div>-->
<form [formGroup]='usertje' (ngSubmit)='onSubmit()' class="ui large form segment">
  <h3 class="ui header">register new user</h3>
  <div class="field">
    <label for="username">username:</label>
    <input type="text" id="username" formControlName='username'>
    <div class='ui pointing red basic label' *ngIf="usertje.get('username').hasError('required') && usertje.get('username').touched">
      a username is required
    </div>
    <div class='ui pointing red basic label' *ngIf="usertje.get('username').hasError('minlength') && usertje.get('username').touched">
      the username should be at least {{usertje.get("username").hasError('minlength').requiredLength }} letters
    </div>
    <!--<div class='ui pointing red basic label' *ngIf='usertje.get("username").errors?.userAlreadyExists && usertje.get("username").touched'>
      a user with that name already exists
    </div>-->
  </div>
  <div formGroupName='passwordGroup'>
    <div class="field">
      <label for="password">password:</label>
      <input type="password" id="password" formControlName='password'>
      <div class='ui pointing red basic label' *ngIf="passwordControl.hasError('passwordTooShort') && passwordControl.touched">
        password too short, please use at least 12 letters
      </div>
    </div>
    <div class="field">
      <label for="confirmpassword">confirm password:</label>
      <input type="password" id="confirmpassword" formControlName='confirmPassword'>
    </div>
    <div class='ui pointing red basic label' *ngIf="usertje.get('passwordGroup').hasError('passwordsDiffer') && usertje.get('passwordGroup').get('confirmPassword').touched  && usertje.get('passwordGroup').get('password').touched">
     the two passwords should be the same
    </div>
  </div>
  <button type='submit' class="ui positive right floated button">register</button>
</form>
<a class='item' routerLink="/login" >Login</a>
 