<!--<ul class="list-group">
  <li class="list-group-item"
    *ngFor="let topic of topics"
    (click)="selectTopic(topic)"
    [class.active]="topic === selectedTopic">
    {{topic.name}}
  </li>hln
</ul>-->
<!--
<div class="col-md-5 col-md-offset-2">
  <app-topic-details
    [topic]="selectTopic"
    [createHandler]="addTopic">
  </app-topic-details>
</div>-->
<form (ngSubmit)='onSubmit()'>
  <div class="field">     
    <button type='submit' class="ui positive left floated button">Eigen Topic aanmaken</button>
  </div>
</form>
<form>
  <div class="field">     
    <button type='submit' class="ui positive right floated button">Uitloggen</button>
  </div>
</form>
<br>
<br>
<br>

<div class="col-md-5 col-md-offset-2" *ngFor="let topic of topics">
    <form class="ui large form segment"> 
      <h3 class="ui header">{{topic.name}}</h3>
      <div class="field">
      <label for="Antwoord">Opmerking invullen:</label> 
      <input name="Antwoord">
      </div>
    </form>
  </div>
<!--
<form class="ui large form segment"> 
  <h3 class="ui header">Wat is de oplossing van oefening 4</h3>
  <div class="field">
	<label for="Antwoord">Opmerking invullen:</label> 
  <input name="Antwoord">
  </div>
</form>
<form class="ui large form segment">
  <h3 class="ui header">Ik snap cosinus niet</h3>
  <div class="field">
	<label for="Antwoord">Opmerking invullen:</label> 
  <input name="Antwoord">
  </div> 
</form>-->

