<ul class="list-group">
  <li class="list-group-item"
    *ngFor="let topic of topics"
    (click)="selectTopic(topic)"
    [class.active]="topic === selectedTopic">
    {{topic.name}}
  </li>
</ul>
<div class="col-md-5 col-md-offset-2">
  <app-topic-details
    [topic]="selectTopic"
    [createHandler]="addTopic">
  </app-topic-details>
</div>
<form class="ui large form segment"> 
  <h3 class="ui header">Wat is de oplossing van oefening 4</h3>
  <div class="field">
	<label for="Antwoord">Opmerking invullen:</label> 
  <input name="Antwoord">
  </div>
</form>
<form class="ui large form segment">
  <h3 class="ui header">Ik snap cosinus niet</h3>
  <div class="field">
	<label for="Antwoord">Opmerking invullen:</label> 
  <input name="Antwoord">
  </div> 
</form>

