<div class="ui container">
  <h1>
    {{title}}
  </h1>
  <!--
  <form class="ui large form segment"> 
    <h3 class="ui header">Voeg een nieuw topic toe</h3>
    <div class="field">
    <label for="naam">Naam Topic:</label> 
    <input name="naam">
    <label for="vraag">Vraag:</label> 
    <input id="vraag" name="vraag" #newtopictitel>
    </div>-->
    <!--
    <button (click)="addTopic(newtopictitel)" class="ui positive right floated button">
      toevoegen topic
    </button>-->  
  <!--</form>-->
  <!--<a class="item" routerLinkActive='active' routerLink="/login">log in</a>-->
  <!--<div class="ui two item menu">
    <a class='item' routerLinkActive='active' 
      routerLink="/recipe-list" >Recipes</a>
    <a class='item' routerLinkActive='active' 
      routerLink="/add-recipe" >Add Recipe</a>
  </div>-->
  
  
  <router-outlet></router-outlet>
  <!--<app-user></app-user>
  <app-topic></app-topic>-->
  </div>
  