<form [formGroup]='breakwijzigen' (ngSubmit)='onSubmit()' class="ui large form segment error">
  <h3 class="ui header">Toevoegen break</h3>
  <div class="field">
    <label for="aantalpunten">Aantal punten speler:</label>
    <input type="text" id="aantalpunten" formControlName='aantalpunten' value="{{aantalpunten}}">  
  </div>
  
  <div class="field">
    <label for="typeGemaakt">Type Break</label>
    <input type="text" id="typeGemaakt" formControlName='typeGemaakt' value="{{type}}">  
  </div>

  <div class="field">
    <label for="tegenstander">Tegenstander</label>
    <input type="text" id="tegenstander" formControlName='tegenstander' value="{{tegenstander}}">  
  </div>  

  <div class="field">
    <label for="datumGemaakt">Datum Break</label>
    <input type="date" id="datumGemaakt" formControlName='datumGemaakt' value="{{datum}}">  
  </div>


  <button type='submit' class="ui positive right floated button">add</button>
</form>
<a class='item' routerLink="/break" (click)="terugnaarbreak()">break</a>
