<div class="row">
  <form (ngSubmit)='onSubmit()' class="ui large form segment">
    <h3 class="ui header">Inloggen</h3>
    <div class="field">
        <label for="username">username:</label>
        <input type="text" id="username">
        <label for="password">password:</label>
        <input type="password" id="password">      
      <button type='submit' [disabled]='!user.valid' class="ui positive right floated button">Inloggen</button>
    </div>
  </form>
</div>
<a class='item' routerLink="register" >register</a>
